# .dockerignore

# Ignorar entorno virtual
venv/
env/
.venv/
celeryBackend/celery

# Ignorar archivos de git
.git/
.gitignore

# Ignorar archivos de IDE
.vscode/
.idea/

# Ignorar cache de Python
__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

.env
*.env.local
.env

*.env 
*.env.*
.env.**

# Ignorar archivos de desarrollo
docker-compose.override.yml
docker-compose.yml
Dockerfile.dev
celery.Dockerfile
Dockerfile
docker-compose.yml